*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f7fa;
}

header{

background:#003366;

color:white;

padding:15px;

display:flex;

justify-content:space-between;

align-items:center;

}

header img{
height:60px;
}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

}

.hero{

height:300px;

background:

linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),

url('https://images.unsplash.com/photo-1518527989017-5baca7a58d3c');

background-size:cover;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

}

.login-box{

width:400px;

background:white;

margin:100px auto;

padding:30px;

box-shadow:0 0 20px rgba(0,0,0,.1);

border-radius:10px;

}

.login-box img{

width:100%;

margin-bottom:20px;

}

.login-box input{

width:100%;

padding:10px;

margin-bottom:15px;

}

.login-box button{

width:100%;

padding:10px;

background:#003366;

color:white;

border:none;

}

.tarif-box{

width:700px;

margin:30px auto;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,.1);

}

.tarif-box input,
.tarif-box select{

width:100%;

padding:10px;

margin-bottom:15px;

}

.tarif-box button{

padding:10px 20px;

background:#003366;

color:white;

border:none;

}
